@import "utilities";

.column {
	display: flex;
	flex-direction: column;
	align-items: center;
	@include margin(5rem, 1rem, 5rem, 0rem);
	border-right: groove 10px $whiteColor;
	.column--title {
		font-family: "Goldman", sans-serif;
		text-align: center;
		align-items: center;
		font-size: 1rem;
		width: 25vw;
		@include margin(1rem, 0px, 2rem, 0px);
		@include padding(0.5rem, 0px, 1rem, 0px);
		background-color: $blackColor;
		border-radius: 40%;
		color: $whiteColor;
		text-decoration: underline;
	}
	.column--title:hover {
		animation-name: titleAnimation;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in;
		animation-duration: 1s;
	}
	.column__releases {
		@include padding(3px, 3px, 3px, 10px);
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 5rem;
		.column__releases--item {
			h4 {
				font-family: "Dosis", sans-serif;
				font-size: 1rem;
				a {
					color: $whiteColor;
					font-weight: normal;
				}
				a:hover {
					@include linkHover();
				}
			}
		}
	}
	.column__audiobox {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: auto;
		margin-bottom: 5rem;
		legend {
			margin-bottom: 3rem;
		}
		ul {
			margin-bottom: 3rem;
			.column__audiobox--item {
				font-family: "Dosis", sans-serif;
				color: $whiteColor;
				span {
					margin-right: 10px;
					font-style: italic;
					text-decoration: underline;
				}
			}
		}
		.column__audiobox--gif {
			margin-top: 5rem;
		}
	}
	.column__recommended {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 2rem;
		.column__recommended--item {
			font-family: "Dosis", sans-serif;
			color: $whiteColor;
		}
		span {
			margin-right: 10px;
			font-family: "Dosis", sans-serif;
			font-style: italic;
			text-decoration: underline;
		}
		a {
			color: $whiteColor;
		}
		a:hover {
			@include linkHover();
		}
	}
}
@media (max-width: 991px) {
	.column {
		border-right: none;
		@include margin(5rem, 0rem, 5rem, 0rem);
		width: 80vw;
		.column--title {
			@include sizes(50vw, auto);
		}
	}
}
@media (max-width: 560px) {
	.column {
		.column--title {
			@include sizes(60vw, auto);
		}
	}
}
